<div class="md:grid-cols-2 max-w-2xl w-full mb-8">
    <p class="text-neutral-500 dark:text-neutral-300 text-base">
      I'm a developer with a programming degree passionate about technology and innovation I love to make things happen, from an idea to something we can see and experience. <br>

      I have 3 years of developing experience with personal, school and internship projects focusing on creating accesible, clean and SEO-optimized interfaces with a strong focus on performance optimization which is essential for mantaining high quality score for websites.
      <br>
      I strongly believe in the sustainable software engineering so I prioritize clean code practices to optimize infraestructure costs.
    </p>
  </div>