---
import Translate from "./Translate.tsx";
---

<div class="md:grid-cols-2 max-w-2xl w-full mb-8">
    <p class="text-neutral-500 dark:text-neutral-300 text-base">
      <Translate 
        textKey="aboutMeText" 
        fallback="About Me Text" 
        client:load
      />
    </p>
  </div>