<div class="flex justify-center gap-3 mb-2 mt-1">
    <svg 
        fill="#ffffff" 
        height="18px" 
        width="18px" 
        version="1.1" 
        id="Layer_1" 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 512 512" xml:space="preserve"
        style="margin-top: 5px;"
    >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier"> 
            <g> 
                <g> 
                    <path d="M256,0C114.84,0,0,114.841,0,256c0,141.161,114.84,256,256,256c141.16,0,256-114.839,256-256C512,114.841,397.16,0,256,0z M441.167,111.126c29.553,37.556,47.93,84.121,50.118,135.321H378.777c-0.685-38.4-5.182-74.12-12.742-105.878 C393.927,133.356,419.445,123.543,441.167,111.126z M427.555,94.815c-19.452,10.665-42.105,19.287-66.765,25.652 c-11.728-39.845-28.565-72.148-48.755-93.234C356.95,38.238,396.847,62.153,427.555,94.815z M153.708,246.448 c0.715-35.84,5.215-71.234,12.595-101.844c28.847,6.096,59.77,8.996,91.357,8.996c30.407,0,60.225-2.694,88.187-8.372 c7.293,30.454,11.733,65.38,12.445,101.22H153.708z M358.292,266.928c-0.712,35.84-5.18,70.301-12.515,100.827 c-28.378-5.872-58.715-9.355-89.708-9.355c-31,0-61.402,3.488-89.84,9.386c-7.338-30.535-11.81-65.019-12.522-100.859H358.292z M256,20.48c34.64,0,65.922,42.004,84.547,104.61c-26.235,5.231-54.253,8.03-82.887,8.03c-29.81,0-58.917-3.002-86.025-8.637 C190.285,62.215,221.473,20.48,256,20.48z M199.965,27.234c-20.055,20.944-36.8,52.959-48.518,92.436 c-24.385-6.53-46.727-15.286-65.872-26.07C116.125,61.555,155.602,38.101,199.965,27.234z M71.89,109.643 c21.423,12.561,46.632,22.884,74.267,30.285c-7.677,31.96-12.242,68.12-12.935,106.52H20.715 C22.93,195.248,41.725,147.421,71.89,109.643z M71.385,402.591c-29.87-37.674-48.467-84.464-50.67-135.664h112.507 c0.688,38.4,5.222,73.755,12.842,105.621C118.305,379.86,92.942,390.105,71.385,402.591z M85.037,417.823 c19.29-10.721,41.778-19.416,66.298-25.868c11.723,39.65,28.51,71.801,48.63,92.812 C155.34,473.835,115.662,450.161,85.037,417.823z M256,491.52c-34.58,0-65.815-41.861-84.453-104.29 c26.703-5.445,55.295-8.35,84.523-8.35c29.218,0,57.75,2.899,84.392,8.318C321.825,449.644,290.587,491.52,256,491.52z M312.035,484.768c20.128-21.02,36.923-53.187,48.643-92.861c24.53,6.445,47.02,15.139,66.33,25.869 C396.375,450.138,356.682,473.829,312.035,484.768z M440.67,402.351c-21.587-12.491-46.96-22.38-74.725-29.682 c7.615-31.853,12.145-67.341,12.833-105.741h112.508C489.085,318.128,470.51,364.689,440.67,402.351z">
                    </path> 
                </g> 
            </g> 
        </g>
    </svg>
    <h3 class="text-lg font-semibold dark:text-neutral-200">Guadalajara, México</h3>
</div>
<div class="flex justify-center gap-4 mb-8 mt-3">
      <a
        href="mailto:kevinke1177@gmail.com"
        aria-label="Email"
        class="text-neutral-600 dark:text-neutral-300 hover:text-blue-500 dark:hover:text-blue-400 transition-colors"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="28" height="28" fill="none" viewBox="0 0 24 24">
          <path fill="currentColor" d="M2 6.75A2.75 2.75 0 0 1 4.75 4h14.5A2.75 2.75 0 0 1 22 6.75v10.5A2.75 2.75 0 0 1 19.25 20H4.75A2.75 2.75 0 0 1 2 17.25V6.75Zm2.75-1.25a1.25 1.25 0 0 0-1.25 1.25v.217l8.25 5.5 8.25-5.5V6.75a1.25 1.25 0 0 0-1.25-1.25H4.75Zm15.25 3.283-7.56 5.045a.75.75 0 0 1-.88 0L3.5 8.783V17.25c0 .69.56 1.25 1.25 1.25h14.5c.69 0 1.25-.56 1.25-1.25V8.783Z"/>
        </svg>
      </a>
      <a
        href="https://github.com/KevinChavarin"
        aria-label="GitHub"
        class="text-neutral-600 dark:text-neutral-300 hover:text-black dark:hover:text-blue-500 transition-colors"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="28" height="28" fill="none" viewBox="0 0 24 24">
          <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.021c0 4.428 2.865 8.184 6.839 9.504.5.092.682-.217.682-.483 0-.237-.009-.868-.014-1.703-2.782.605-3.369-1.342-3.369-1.342-.454-1.155-1.11-1.463-1.11-1.463-.908-.62.069-.608.069-.608 1.004.07 1.532 1.032 1.532 1.032.892 1.53 2.341 1.088 2.91.832.091-.647.35-1.088.636-1.339-2.221-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.025A9.564 9.564 0 0 1 12 6.844c.85.004 1.705.115 2.504.337 1.909-1.295 2.748-1.025 2.748-1.025.546 1.378.202 2.397.1 2.65.64.7 1.028 1.595 1.028 2.688 0 3.847-2.337 4.695-4.566 4.944.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.749 0 .268.18.579.688.481C19.138 20.2 22 16.447 22 12.021 22 6.484 17.523 2 12 2Z"/>
        </svg>
      </a>
      <a
        href="https://www.linkedin.com/in/kevinchavarinp"
        aria-label="LinkedIn"
        class="text-neutral-600 dark:text-neutral-300 hover:text-blue-700 dark:hover:text-blue-400 transition-colors"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="28" height="28" fill="none" viewBox="0 0 24 24">
          <path fill="currentColor" d="M19 0H5C2.24 0 0 2.24 0 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5V5c0-2.76-2.24-5-5-5ZM7.12 20.45H3.56V9h3.56v11.45ZM5.34 7.67a2.07 2.07 0 1 1 0-4.14 2.07 2.07 0 0 1 0 4.14ZM20.45 20.45h-3.56v-5.6c0-1.33-.03-3.04-1.85-3.04-1.85 0-2.13 1.45-2.13 2.94v5.7h-3.56V9h3.42v1.56h.05c.48-.91 1.65-1.85 3.4-1.85 3.63 0 4.3 2.39 4.3 5.5v6.24Z"/>
        </svg>
      </a>
      <a
        href="https://x.com/kevinke0117"
        aria-label="X"
        class="text-neutral-600 dark:text-neutral-300 hover:text-black dark:hover:text-blue-500 transition-colors"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="28" height="28" fill="none" viewBox="0 0 24 24">
          <path fill="currentColor" d="M17.53 3H21.5l-7.06 8.06L22.5 21h-6.98l-5.47-6.23L3.5 21H-.5l7.61-8.7L1.5 3h7.07l5.02 5.72L17.53 3Zm-1.18 15.19h1.95l-6.29-7.17-1.77-2.02-5.61-6.39h-1.9l6.29 7.17 1.77 2.02 5.61 6.39Z"/>
        </svg>
      </a>
  </div>